---
import BaseLayout from "../layouts/BaseLayout.astro";
import { customTransition } from "../utils/viewTransition";
---

<BaseLayout>
  <section transition:name="main" transition:animate={customTransition}>
    JavaScript blabla Go bla c# blablabla
  </section>
</BaseLayout>
