---
import BaseLayout from "../layouts/BaseLayout.astro";
import { customTransition } from "../utils/viewTransition";
---

<BaseLayout>
  <!-- <div class="scroller"> -->
  <section transition:name="main" transition:animate={customTransition}>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta
      repellat odit, voluptate quisquam accusamus tenetur unde quod corporis
      animi quos dignissimos autem obcaecati laboriosam ratione dolor saepe ex
      laborum!
    </p>
  </section>

  <!-- <section id="credentials">JavaScript blabla Go bla c# blablabla</section>

    <section id="projects">
      <ul>
        <li>Some</li>
        <li>Awesome</li>
        <li>Projects</li>
      </ul>
    </section>

    <section id="contact">
      Reach out blabla

      <input type="text" />
    </section> -->
  <!-- </div> -->
</BaseLayout>

<style></style>
