---
import BaseLayout from "../layouts/BaseLayout.astro";
import { customTransition } from "../utils/viewTransition";
---

<BaseLayout>
  <section transition:name="main" transition:animate={customTransition}>
    <ul>
      <li>Some</li>
      <li>Awesome</li>
      <li>Projects</li>
    </ul>
  </section>
</BaseLayout>
