---
const currYear = new Date().getFullYear()
---


<footer class="grid items-center justify-center w-full grid-cols-3 gap-6 h-22 bg-secondary-950">
  <p class="col-start-2 mb-2 text-center">&#169; {currYear} | Stephan Ullmann</p>
  <!-- <div class="self-center col-start-3 place-self-end" id="dbb"></div> -->
</footer>


<!-- <script async defer src="https://digitalbeacon.co/js/badge.min.js" is:inline></script> -->