<section id="home" class="h-[calc(100vh-3rem)] grid place-content-center font-bold  text-center">
  <h1 class="font-display text-6xl tracking-wide">Hi! I'm Stephan</h1>
  <p class="font-body tracking-wider">junior, but full-stack web-developer</p>
  <div class="mt-3 w-[333px] h-9 grid place-content-center bg-gradient-radial from-secondary-transparent via-transparent via-60%"></div>
</section>
