---
const { tags } = Astro.props;
---

<div class="tags">{tags.map((t: string) => <p>{t}</p>)}</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: 1rem;
    & > p {
      font-size: 1rem;
      padding: 0.25rem 0.75rem;
      background-color: var(--primary);
      border-radius: 1rem;
    }
  }
</style>
