---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Tags from "../../components/Tags.astro";

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection("projects");
  return blogEntries.map((e) => ({ params: { slug: e.id }, props: { e } }));
}) satisfies GetStaticPaths;

const entry = await getEntry("projects", Astro.params.slug);
const project = entry!.data;
---

<BaseLayout title={project.title}>
  <div class="center">
    <h1>{project.title}</h1>
  </div>
</BaseLayout>
