---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { customTransition } from "../../utils/viewTransition";
import ProjectCard from "../../components/projects/ProjectCard.astro";
const allProjects = await getCollection("projects");
---

<BaseLayout>
  <section transition:name="main" transition:animate={customTransition}>
    <ul>
      {
        allProjects.map((p) => (
          <ProjectCard project={p.data as Project} href={p.id} />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
  }
</style>
