---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectCard from "../../components/projects/ProjectCard.astro";
const allProjects = await getCollection("projects");
---

<BaseLayout>
  <section>
    <ul>
      {
        allProjects.map((p, ind) => (
          <ProjectCard index={ind} project={p.data as Project} href={p.id} />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  section {
    padding: 5rem;
  }
  ul {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
</style>
